.row {
    opacity: 0
}

.col-lg {
    height: 80vh;
}

#destinations-col {
    bottom: 400px;
}

#hotel-food {
    bottom: -400px;
}

#path-col {
    bottom: 400px;
}

.col-lg > .card {
    height: 100%;
}

.card-image-top {
    object-fit: cover;
}

#destinations-container > ul {
    max-height: 39vh;
}

.list-item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.list-group-item:hover {
    background-color: black;
    color: white;
}

.bi-star-fill {
    color: #03dac6;
}

.hotel {
    height: 30vh;
}

.food {
    padding-top: 5%;
    padding-bottom: 0%;
    font-size: 18px;
    max-height: 70%;
}

.food > .card {
    height: 50vh;
}

#restaurants-container {
    max-height: 40vh;
}

.bi-arrow-up-circle-fill {
    color: #03dac6;
}

#path > iframe {
    height: 100%;
    border: 0;
}

/* Tablet or smaller */
@media (max-width: 991.9px) {
    .col-lg {
        padding-bottom: 5%;
    }

    .card-image-top {
        height: 30vh;
    }

    #destinations-container > ul {
        max-height: 30vh;
    }

    .hotel, .food {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #path {
        height: 50vh;
    }
}
