.row {
    opacity: 0;
}

.col-lg {
    height: 80vh;
}

#destinations-col {
    bottom: 400px;
}

#hotel-food {
    bottom: -400px;
}

#path-col {
    bottom: 400px;
}

.col-lg > .card {
    height: 100%;
}

.card-image-top {
    object-fit: cover;
}

.material-icons-round {
    font-size: 34px;
}

#destinations-container > ul {
    max-height: 39vh;
}

.list-item {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
}

.list-group-item:hover {
    background-color: black;
    color: white;
}

.star {
    padding-left: 40px;
}

.star:hover {
    cursor: pointer;
}

.bi-star-fill {
    color: #03dac6;
}

.hotel {
    height: 30vh;
}

#hotel-name {
    font-size: 18px;
}

.food {
    padding-top: 1.5%;
    padding-bottom: 0;
    font-size: 18px;
    max-height: 70%;
}

.food > .card {
    height: 50vh;
}

#restaurants-container {
    max-height: 45vh;
}

thead {
    position: sticky;
    top: 0;
}

.resName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.arrow {
    font-size: 22px;
}

.bi-arrow-up-circle:hover {
    cursor: pointer;
}

.bi-arrow-up-circle-fill:hover {
    cursor: pointer;
}

.bi-arrow-up-circle-fill {
    color: #03dac6;
}

#path > iframe {
    height: 100%;
    border: 0;
}

.options {
    display: flex;
    box-sizing: border-box;
    width: 85px;
    justify-content: flex-end;
    font-size: 25px;
}

.location-name {
    width: 75%;
    padding-left: 15px;
    padding-right: 20px;
}

.bi-geo-alt-fill {
    color: #03DAC6;
}

.bi-geo-alt-fill:hover {
    color: #03DAC6;
}

/* Tablet or smaller */
@media (max-width: 992px) {
    .col-lg {
        padding-bottom: 5%;
    }

    .card-image-top {
        height: 30vh;
    }

    #destinations-container > ul {
        max-height: 30vh;
    }

    .hotel,
    .food {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .food {
        padding-top: 5%;
    }

    .card {
        box-shadow: none;
    }

    #path {
        height: 50vh;
        box-shadow: none;
    }
}
