.container-fluid {
	padding: 4%;
}

.card {
	width: 100%;
}

.card-image-top {
	width: 100%;
	object-fit: cover;
}

.itinerary > .card {
	height: 100%;
}

.hotel-row {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2%;
}

.food-row {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.clock {
	margin-right: 25%;
	margin-left: 25%;
}

.col-md-4 > iframe {
	width: 100%;
	height: 100%;
	padding: 0.1%;
}