.card-image-top {
	object-fit: cover;
}

.clock {
	margin-right: 25%;
	margin-left: 25%;
}

.hotel {
	height: 30%;
}

.food {
	height: 65%;
}

.col-lg-4 > iframe {
	height: 100%;
}

@media (max-width: 991.9px) {
	.col-lg-4 {
		margin-bottom: 2%;
	}

	.hotel, .food {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.col-lg-4 > iframe {
		margin-top: 5%;
		height: 400px;
	}
}